(defaults_whatiswhere) {
    root * /apps/what_is_where
	php_fastcgi what_is_where:9000 {
        root /var/www/html
        try_files {path} index.php = 404
    }

    # Serve static files
    file_server {
        hide .env
    }

    handle_errors {
    	respond "{err.status_code} {err.status_text}"
    }
}

alpha.jeroendn.nl {
    import defaults_whatiswhere

    tls {
        on_demand
    }
}

whatiswhere.local {
    import defaults_whatiswhere

    tls internal {
        on_demand
    }
}